doctype html
html
	include /jade/head.jade
	link(rel='stylesheet', href='/panel/themes/default/css/authentication.css')
	script(src='/panel/themes/default/js/script.js')
	body
		div.login
			figure
				img.logo(
					src='/panel/themes/default/images/go-bananas-logo.png'
				)
			form(
				action='/panel/signup/'
				method='POST'
				onsubmit='return validateForm(this);'
				novalidate
			)
				div.field
					input(
						type='text'
						name='email'
						placeholder='#{field.email.label}'
						required
					)
				div.field
					input(
						type='text'
						name='username'
						placeholder='#{field.username.label}'
						required
					)
				div.field
					input(
						type='password'
						name='password'
						placeholder='#{field.password.label}'
						required
					)
				div.field
					input(
						type='password'
						name='confirm_password'
						placeholder='#{field.confirm.label}'
						required
					)
				div.submit
					input(
						type='submit'
						value='#{button.signup.label}'
					)
				div.links
					a(href='/panel/') #{links.login.label}
				div.links.last
					a(href='/panel/recovery') #{links.forgot_password.label}