doctype html
html
	include /jade/head
		block head
			link(rel='stylesheet', href='/panel/themes/default/css/authentication.css')
	body
		div.login
			figure
				img.logo(src='/panel/themes/default/images/go-bananas-logo.png', width='600', height='228')
			form#authentication.validate(method='POST', novalidate)
				each error, key in errors
					div.field.error(data-field='#{key}')
						span #{language.errors[error.msg]}
				if page != 'sign_in'
					div.field
						span.field-addon 
							i.fa.fa-envelope.fa-fw
						input(type='text', name='email', placeholder='#{language.field.email.label}', required, value=post.email ? '#{post.email}' : '')
				if page == 'sign_in' || page == 'signup'
					div.field
						span.field-addon 
							i.fa.fa-user.fa-fw
						input(type='text', name='username', placeholder='#{language.field.username.label}', required, value=post.username ? '#{post.username}' : '')
					div.field
						span.field-addon 
							i.fa.fa-lock.fa-fw
						input(type='password', name='password', placeholder='#{language.field.password.label}', required)
				if page == 'signup'
					div.field
						span.field-addon 
							i.fa.fa-lock.fa-fw
						input(type='password', name='confirm_password', placeholder='#{language.field.confirm.label}', required)
				div.submit
					input(type='submit', value='#{language.button[page].label}')
				if page != 'sign_in'
					div.links
						a(href='/panel/') #{language.links.sign_in.label}
				if page != 'signup'
					div.links
						a(href='/panel/signup') #{language.links.signup.label}
				if page != 'recovery'
					div.links
						a(href='/panel/recovery') #{language.links.recovery.label}
		include /jade/foot