doctype html
html
	include /jade/head
		block head
			link(rel='stylesheet', href='/public/panel/themes/default/css/authentication.css')
	body
		div.login
			figure
				img.logo(src='/public/panel/themes/default/images/go-bananas-logo.png', width='600', height='228')
			form#authentication.validate(method='POST', novalidate)
				each error, key in errors
					div.field.error(data-field='#{key}')
						span #{language.errors[error.msg]}
				div.field
					span.field-addon 
						i.fa.fa-user.fa-fw
					input(type='text', name='username', placeholder='#{language.field.username.label}', required, value=post.username ? '#{post.username}' : '')
				div.field
					span.field-addon 
						i.fa.fa-lock.fa-fw
					input(type='password', name='password', placeholder='#{language.field.password.label}', required)
				div.submit
					input(type='submit', value='#{language.button.sign_in.label}')
				div.links
					a(href='/panel/signup') #{language.links.signup.label}
				div.links
					a(href='/panel/recovery') #{language.links.recovery.label}
		include /jade/foot